.login {
  width: 100vw;
  height: 100vh;
  position: relative;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.4) 1px, transparent 1px),
    linear-gradient(rgba(0, 0, 0, 0.4) 1px, transparent 1px), url('@/assets/images/beams-cover@95.jpg') no-repeat top right / cover;
  background-size: 40px 40px, 40px 40px, cover;
  background-blend-mode: overlay;

  :global {}

}