html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

ul,
li,
ol {
  list-style: none;
}

.ant-menu-light.ant-menu-root.ant-menu-inline {
  border-right: 0;
}

@media screen and (max-width: 576px) {
  .sider {
    display: none;
  }
}
