.layout {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;

  :global {
    span {
      color: #fff;
    }

    .icon-a-adminguanliyuanguanlizheyonghukehu {
      margin-right: 10px;
    }

    .title {
      font-weight: 600;
    }

    .username {
      font-size: 14px;
    }
  }
}