.layout {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  background-color: rgba(255, 255, 255, .65);

  :global {
    .icon-a-adminguanliyuanguanlizheyonghukehu {
      margin-right: 10px;
    }

    .title {
      font-weight: 600;
    }

    .username {
      font-size: 14px;
      padding: 10px 0;
      cursor: pointer;
    }
  }
}